# Ignore all .config by default
.config/*

# But include these tracked directories
!.config/gocode/
!.config/karabiner/
!.config/nvim/

# Exclude specific files within included directories
.config/nvim/.netrwhist
.config/nvim/lazy-lock.json
.config/karabiner/automatic_backups/
.gitconfig

# local files
.zshrc.local
