[mysqld]
# ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
sql-mode=""
#innodb_flush_log_at_trx_commit=2
#innodb_buffer_pool_size=256MB
#skip-log-bin
character-set-server=utf8mb4

[mysqld_safe]
timezone = UTC
